@model IEnumerable<Nhom5.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Nhân Viên</h1>

<p>
    <a asp-action="Create">Thêm Nhân Viên</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Nhân Viên
            </th>
            <th>
                Tuổi
            </th>
            <th>
                Kinh Nghiệm
            </th>
            <th>
                Địa Chỉ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tuoi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinhNghiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDNhanVien">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDNhanVien">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDNhanVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
