@model Nhom05.Models.SanPham

@{
    ViewData["Title"] = "Delete";
}



<div>


    
    <hr />
    <dl class="row row w3-card-4">
            <h3 class="w3-container w3-red w3-round w3-padding-16"> Xóa Sản Phẩm:</h3>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThuongHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThuongHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IDSanPham" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
          <a asp-action="Index" class="w3-button w3-khaki w3-round">Danh sách sản phẩm</a>
    </form>
</div>
